@model IEnumerable<WebBanHang.Models.EF.Product>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <!-- Product 1 -->
        var strImg = "";
        var img = item.ProductImages.FirstOrDefault(x => x.IsDefault);
        if (img != null)
        {
            strImg = img.Image;
        }
        <div class="product-item">
            <div class="product discount">
                <div class="product_image">
                    <img style="height:221px;" src="@strImg" alt="@item.Title">
                </div>
                <div class="favorite favorite_left"></div>
                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                <div class="product_info">
                    <h6 class="product_name"><a href="@item.Alias">@item.Title</a></h6>
                    @if (item.PriceSale > 0)
                    {
                        <div class="product_price">@item.PriceSale<span>@item.Price</span></div>
                    }
                    else
                    {
                        <div class="product_price">@item.Price</div>
                    }

                </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
        </div>
    }
}


